* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 500px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid grey;
}

.hidden {
	visibility: hidden;
}

.message {
	display: flex;
	align-items: center;
	min-height: 50px;
}

header {
	height: 40px;
	background: lightblue;
}
li {
	list-style-type: none;
}

img {
	border-radius: 50%;
  margin: 10px;
  order: 1;
}

.cmvnk,
.other {
	display: flex;
	width: 100%;
	align-items: center;
	min-height: 50px;
}

.cmvnk {
  flex-direction: row-reverse;
	justify-content: flex-end;
}
.cmvnk > img {
	order: 1;
}

.other {
	justify-content: flex-end;
}

.other > img {
	order: 2;
}
.cmvnk-text {
	background: rgb(82, 82, 178);
	padding: 20px 30px;
	margin-top: 10px;
	border-radius: 0px 10px 10px 10px;
}

.other-text {
	background: rgb(179, 179, 245);
	padding: 20px 30px;
	margin-top: 10px;
	border-radius: 10px 10px 0px 10px;
}

.send-form {
	width: 100%;
	display: flex;
	justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.send-form input[type='text'] {
  width: 60%;
  height: 80%;
}

.send-form input[type='submit'] {
  width: 40%;
  height: 80%;
}
